@import './assets/css/sass/variables/_variables.scss';

@font-face {
    font-family: $PoppinsBold;
    src: url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $MontserratRegular;
    src: url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $MontserratMedium;
    src: url('./assets/fonts/Montserrat-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: $MontserratBold;
    src: url('./assets/fonts/Montserrat-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body, html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
*{
    box-sizing: border-box;
}
body{
    font-family: $MontserratRegular;
}
a, a:hover{
    text-decoration: none;
    color: #FFF;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.text-center{text-align: center;}
.position-relative{position: relative;}
.py-100{padding: 100px 0;}
.py-50{padding: 50px 0;}
.mainColor{color: $mainColor !important;}
.mainColor-bg{background-color: $mainColor !important;}
.secondColor{color: $secondColor !important;}
.secondColor-bg{background-color: $secondColor !important;}

.btn-common{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 177px;
    border: 1px solid transparent;
    border-radius: 8px;
    color: #FFF;
    background-color: $mainColor;
    transition: .3s ease-in-out;
    font-size: $bodyLarge;
    padding: 10px 15px;
    cursor: pointer;
    &:hover{
        background-color: transparent;
        border-color: $mainColor;
        color: $mainColor;
    }
    &.btn-fill{
        background-color: $mainColor;
        border-color: $mainColor;
        &:hover{
            background-color: transparent;
            border-color: #FFF;
        }
    }
}

.collapsed-btn{
    color: $mainColor;
    border: 1px solid $mainColor;
    padding: 5px 10px;
    background-color: transparent;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    display: none;
    @media (max-width: 992px) {
        display: inline-flex;
    }
}

.logo-and-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 991px){
        width: 90%;
    }
}

@import './assets/css/sass/sections/_header.scss';

@import './assets/css/sass/sections/_footer.scss';
