
// Color 
$mainColor: #ab1c1c;
$mainColorLight: #c90031;
$secondColor: #101418;

// Font
$PoppinsBold: 'Poppins-Bold';
$MontserratRegular: 'Montserrat-Regular';
$MontserratBold: 'Montserrat-Bold';
$MontserratMedium: 'Montserrat-Medium';

//  Size
$bodySmall: 12px;
$bodyMedium: 14px;
$bodyLarge: 16px;

$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
